# Configuración de base de datos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CAMBIAR_EN_PRODUCCION
POSTGRES_DB=control_refugios

# Configuración del Backend
PORT=4000
DATABASE_URL=postgresql://postgres:CAMBIAR_EN_PRODUCCION@db:5432/control_refugios
JWT_SECRET=CAMBIAR_EN_PRODUCCION
DB_SSL=false
NODE_ENV=production
